body {
  margin: 0;
  font-family: 'Courier New',monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(90,85,175);
  background: linear-gradient(90deg, rgba(90,85,175,1) 0%, rgba(52,62,185,1) 26%, rgba(0,212,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}